* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  padding: 1rem;
}

.logo {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
}

section {
  width: 95%;
  min-height: 40vh;
  margin: 1rem auto;
}

h1 {
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

p {
  padding-bottom: 0.5rem;
}

button,
.link {
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem 1rem;
  padding-bottom: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
  font-size: 1rem;
  color: white;
  background: seagreen;
  transition: all 0.4s ease-in;
}

button:disabled {
  cursor: not-allowed;
  color: rgb(124, 124, 124);
  background: #ddd;
}

form {
  width: 40rem;
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #efefef;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.05);
}

label {
  font-size: 0.95rem;
}

input {
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  margin-top: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

form button {
  width: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
}
